<html>
  <head>
    <title>Test API</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
  </head>
  
  <form action="/search/:id" method="post">
    <input type="text" name="searchID" />
    <button type="submit">Search by ID</button>
  </form>
  
  <form action="/searchText/:text" method="post">
    <input type="text" name="searchText" />
    <button type="submit">Search by Text</button>
  </form>
  
  
  <div class="box">
   
    <% for(let task of taskList){%>
      
      <div class="item">
        
    
        <div>
          <p class="task">
            <%= task.id %>
            <%= task.text %>
          </p>
  
          <form class="edit" action="/edit" method="POST" id="task<%=task.id%>">
            <input class="izmjena" id="editText<%= task.id %>" type="text" name="editedText" value="<%= task.text %>" autocomplete="off">
            <button class="edit" type="submit" name="id" value="<%= task.id %>"> 
              Confirm edit
            </button>
          </form>
  
  
          <form action="/deletetask" method="post">
            <button type="submit" name="deleteTask" value="<%= task.id %>">Delete </button>
          </form>
             
      </div>
      <%}%>  
      
    
    <div class="addTask">
      <form action="/addtask" method="post">
        <input name="text" type="text"/>
        <button type="submit">Add new task</button>
      </form>
    </div>
    
  </div>
  
  
</html>
